*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/sky-7191772_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.bck-font{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center; 
    height: 400px; 
    width: 50%;
    margin-left: 25%;
    padding-bottom: 5%;
    border: 1px solid #ccc; 
    background-color: white;
    opacity: 0.8;

}

.img-redim{
    display: inline-flex;
    height: 35px;
    width: 35px;
}

table > tr{
    margin-right: 50%;
}
/* .header-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 270px; 
    border: 1px solid #ccc; 
} */
